body,
html {
  /* width: 100%; */
  /* height: 100%; */
  margin: auto;
  background: black;
  overflow: hidden;
}
h1 {
  font-family: 'Luckiest Guy', cursive;
  color: white;
  font-size: 72px;
  text-align: center;
  letter-spacing: 2px;
}

.board {
  display: grid;
  margin: auto;
  /*
   * 3x3 grid
   * boxes:   144 x 3 = 432px
   * borders: 24 x 2 = 48px
   * boxes + border: 480px
   */
  width: 480px;
  height: 480px;

  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  /* ? */
  /* grid-template-columns: 144px 144px 144px; */
  /* grid-template-rows: 144px 144px 144px; */

  /* ? */
  grid-gap: 24px;
  background-color: white;
  font-family: 'Luckiest Guy', cursive;
  color: white;
  font-size: 144px;
  font-weight: 900; /* extra bold */
  line-height: 186px;
  text-align: center;
}

.box {
  background-color: black;
  width: 144px;
  height: 144px;
  
  /* ? */
  /* position: relative; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  /* ? */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* line-height: 144px; */
  /* ? */
  /* padding: 24px 12px 0px 12px; */
}


/* 
.box.topleft {}
.box.topleft.x {
  background-color: red;
}

.box.topleft.o {
  background-color: blue;
}

.box.top {}
.box.top.x {}
.box.top.o {}

.box.topright {}
.box.topright.x {}
.box.topright.o {}

.box.left {}
.box.left.x {}
.box.left.o {}

.box.middle {}
.box.middle.x {}
.box.middle.o {}

.box.right {}
.box.right.x {}
.box.right.o {}

.box.bottomleft {}
.box.bottomleft.x {}
.box.bottomleft.o {}

.box.bottom {}
.box.bottom.x {}
.box.bottom.o {}

.box.bottomright {}
.box.bottomright.x {}
.box.bottomright.o {} */